@page
@model Drone.App.Frontend.Pages.registroEstadosModel
@{
}

 <div class="row">

            <div class="col-md-4 " >
                <form>

                    <p><i>ID pedido: </i></p>

                    <div class="mb-3 form-group">
                      <label for="exampleInputEmail1">Fecha y Hora</label>
                      <input type="email" class="form-control" placeholder="0000-00-00 00:00:00">
                    </div>
                    <div class="mb-3 form-group">
                      <label for="exampleInputPassword1">Ubicación</label>
                      <input  class="form-control">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="exampleInputPassword1">Temperatura</label>
                        <input class="form-control">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="exampleInputPassword1">Tiempo faltante</label>
                        <input  class="form-control">
                    </div>
    
                    <button type="submit" class="myButton btn btn-primary">Actualizar</button>
                  </form>

            </div>
            