@page
@model Drone.App.Frontend.Pages.loginEmpresaModel
@{
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    
	<title>Login Empresa  </title>
</head>
<body>
  
    <style>
        .custom_form{

         background-color: rgb(250, 200, 250);
         padding: 35px;
         margin: 15px;
            
        }

        h1{
            padding-bottom: 15px;
            padding-top: 15px;
        }

        .DroneLogo{

            padding-left: 10px;
        }
        

    </style>
  
    
    	<div class="container">
		
			<div class ="col">		
				<h2 class="fw-bold text-center ">Usuario Empresarial</h2>

<!--LOGIN -->

			<form method="post">

				<div class="mb-4">
					<label for="email" class="form-label">Usuario</label>
					<input asp-for="Empresa.RazonSocial" class="form-control" name="usuarioadm">
				</div>
				
				<div class="mb-4">
					<label for="password" class="form-label">Contraseña </label>
					<input asp-for="Empresa.PasswordEmp" type="password" class="form-control" name="pass">
				</div>
					
				<input type="submit" value="Login"  class="btn btn-primary"></input>
				
			
			</form>
			
		</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
