@page
@model Drone.App.Frontend.Pages.devteamModel
@{
}

<h1>About Dev Team and our project</h1>

<p>We are a software development team working on a project for the third cycle of Misión TIC2022! </p>
<p>We were ask to develop a web software to manage data of a company which distributes its products with drones.</p>

<h2>Linkedin profiles</h2>